.pixel-snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    z-index: 10;
    contain: layout style paint;
}

.pixel-snow-container canvas {
    display: block;
    width: 100%;
    height: 100%;

    transform: translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
}